<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Covid Cases Server Side Rendering</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<h2>Covid Cases Server Side Rendering</h2>
<table  class="table table-bordered">
  <thead class="thead-dark">
  <tr>
    <th>Country</th>
    <th>Cases</th>
    <th>Deaths</th>
    <th>New Case</th>
    <th>New Death</th>
    <th>Recovered</th>
    <th>Critical</th>
    <th>Tests</th>
    <th>Tests Per 1M</th>
  </tr>
  </thead>

  <tbody th:remove="all-but-first">
  <tr th:each="movie : ${covid}">
    <td th:text="${covid.country}" ></td>
    <td th:text="${covid.cases}"></td>
    <td th:text="${covid.deaths }"></td>
    <td th:text="${covid.todayCases }" ></td>
    <td th:text="${covid.todayDeaths  }" ></td>
    <td th:text="${covid.recovered }"></td>
    <td th:text="${covid.critical }"></td>
    <td th:text="${covid.tests  }"></td>
    <td th:text="${covid.testsPerOneMillion  }"></td>
  </tr>
  </tbody>
</table>
<button type="button" class="btn btn-success" th:onclick="|window.location.href='/IND'|"> Corona Count India</button>
<button type="button" class="btn btn-danger" th:onclick="|window.location.href='/USA'|"> Corona Count USA</button>

</body>

</html>
